/* REMISE A 0 DES VALEURS */
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{ margin:0; padding:0;} ul, li, ol, dl, dd, dt{padding:0; margin:0;} li {list-style: none;} img {border:0;}

body {font-size:12px; font-family: Verdana, Arial; background: url(../img/test.png) #d7d5d5;}
a {text-decoration: none; color:#000; font-size:12px;}
a:hover {text-decoration: underline;}
html, body, #page {height:100%;}
body > #page {height: auto;  min-height: 100%; padding-bottom: 100px;}
.confirmSupp span:not(.ui-icon) {display: none;}
table {border-spacing: 0;}

.highcharts-legend {z-index:99;}
.el-rte .toolbar li {border:1px solid #eeeeee !important;}
.el-rte .toolbar li:hover {border:1px solid #999 !important;}

/* CLASSE GENERALE */
.all_center, .centre {margin-left:auto; margin-right:auto;}
.all_center, .center {text-align:center;}
.left {text-align:left;}
.right {text-align:right;}
.fleft {float:left;}
.fright {float:right;}
.bold {font-weight:bold;}
.mini {font-size:11px;}
.gris {color:gray !important;}
.green {color:green;}
.erreur {color:red;}
.noborder {border:0;}
.vtop {vertical-align:top;}
.vbottom {vertical-align: bottom;}
.hide {display:none;}
.italic {font-style:italic;}
.underline {text-decoration:underline;}
.uppercase {text-transform: uppercase;}
.absolute {position: absolute;}
.help-ico {float:left; margin:-1px 0 0 -25px;}
.show-list {margin-left:15px;} .show-list li {list-style: disc;}
.arrondi-full, .arrondi-top, .arrondi-top-left {-webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px;}
.arrondi-full, .arrondi-top, .arrondi-top-right {-webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px;}
.arrondi-full, .arrondi-bottom, .arrondi-bottom-left {-webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px;}
.arrondi-full, .arrondi-bottom, .arrondi-bottom-right {-webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px;}
.table-arondi, .table-arondi tr:first-child td:first-child {-moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px; border-top-left-radius:10px;}
.table-arondi, .table-arondi tr:first-child td:last-child {-moz-border-radius-topright:10px; -webkit-border-top-right-radius:10px; border-top-right-radius:10px;}
.table-arondi, .table-arondi tr:last-child td:first-child {-moz-border-radius-bottomleft:10px; -webkit-border-bottom-left-radius:10px; border-bottom-left-radius:10px;}
.table-arondi, .table-arondi tr:last-child td:last-child {-moz-border-radius-bottomright:10px; -webkit-border-bottom-right-radius:10px; border-bottom-right-radius:10px;}
.table-content {padding: 10px; width: 100%;}
.table-content2 {width: 100%;}
.table-content2 td, .table-content td {padding: 5px;}
a.informations:hover {cursor: default; text-decoration: none;}
.btn-close {position: absolute; right: -4px; top:-2px; display:block; background:url(../lib/shadowbox/fancybox.png) -40px 0px; width: 30px; height: 30px;}

/* STRUCTURE GLOBALE DU SITE */
div#page {width:100%; margin:0 auto; padding-bottom: 0;}

div#header {width:100%; min-width:980px; height: 97px; font-size:13px; margin:0 auto; border-top:0; border-bottom: 1px solid #999999; z-index:24; position:relative; -webkit-box-shadow: 0px 1px 12px #666666; -moz-box-box-shadow: 0px 1px 12px #666666; box-shadow: 0px 1px 12px #666666; background: url(../img/fond_top_header.png) repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background-image: -webkit-gradient(linear,left top, left bottom,from(#ffffff),to(#eaeaea)); background-image: -webkit-linear-gradient(top,#ffffff,#eaeaea); background-image: -moz-linear-gradient(top,#ffffff,#eaeaea); background-image: -o-linear-gradient(top,#ffffff,#eaeaea);  /* background-image: linear-gradient(top,#ffffff,#eaeaea); filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFffffff, endColorstr=#FFeaeaea); */}
div#header div#cadre {width:980px; margin: auto;}
div#header div#cadre div#logo {margin-top:10px; margin-left:10px; float:left; height:50px;}
div#header div#cadre div.alert-content {position:absolute; margin:45px 0 0 220px; width: 130px; font-size:11px; padding:5px 10px; border-radius: 10px; -moz-border-radius:10px; -webkit-border-radius:10px; background:#FF3333; border:1px solid #660000;}
div#header div#cadre div.alert-content ul.show-list {color: #fff;}
div#header div#cadre div.alert-content a {color: #FFF;}
div#header div#recherche_globale {float: left; margin-left:40px; padding: 2px 10px 4px 10px; -webkit-border-bottom-left-radius:10px; -moz-border-radius-bottomleft:10px; border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomright:10px; border-bottom-right-radius: 10px; -webkit-box-shadow: 0px 1px 6px #666666; -moz-box-box-shadow: 0px 1px 6px #666666; box-shadow: 0px 1px 6px #666666; background: url("../img/fond-recherche_globale.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; /*filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFcc3333, endColorstr=#FF660000);*/ background-image: -webkit-gradient(linear,left top, left bottom,from(#cc3333),to(#660000)); background-image: -webkit-linear-gradient(top,#cc3333,#660000); background-image: -moz-linear-gradient(top,#cc3333,#660000); background-image: -o-linear-gradient(top,#cc3333,#660000);/* background-image: linear-gradient(top,#cc3333,#660000);*/}
div#header div#recherche_globale table input[type=submit] {display:block; color:#000; background: #e3e3e3; cursor:pointer;}
div#header div#recherche_globale input[type=submit]:hover {background: #FFFFFF;}
div#header table#show-etat-message {float:left; margin-left:25px; height: 20px; padding:0 10px; -webkit-border-bottom-left-radius:5px; -moz-border-radius-bottomleft:5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius:5px; -moz-border-radius-bottomright:5px; border-bottom-right-radius: 5px; -webkit-box-shadow: 0px 1px 3px #999999; -moz-box-box-shadow: 0px 1px 3px #999999; box-shadow: 0px 1px 3px #999999; border: 1px solid #e3e3e3;}
div#header table#show-etat-message a {}
div#header p#btn-deco {float:right; margin-right:10px;}
div#header p#btn-aide {float:right; margin-right:10px;}
div#header p#btn-aide a, div#header p#btn-deco a {display:block; padding: 5px 13px 5px 13px; background:#666; color: #FFF; font-weight: normal; -webkit-border-bottom-left-radius:10px; -moz-border-radius-bottomleft:8px; border-bottom-left-radius: 7px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomright:8px; border-bottom-right-radius: 7px; -webkit-box-shadow: 0px 1px 3px #666666; -moz-box-box-shadow: 0px 1px 3px #666666; box-shadow: 0px 1px 3px #666666;}
div#header p#btn-aide a:hover {text-decoration: none; background:#333;}
div#header p#btn-deco a:hover {text-decoration: none; background:#993333;}
div#header p#btn-aide a {text-transform: uppercase;}
div#header p#btn-deco a {}

div#contenu {position:relative; z-index: 0; float:left; margin-left:201px; width:100%; padding:35px 50px 50px 50px; min-width:680px;}
div#contenu-public {width:970px; padding:10px; margin:auto;}
div#contenu-accueil {width:90%; margin:auto; padding: 35px 10px 15px 10px;}

div#footer {float:left; margin-left:201px; height: 25px; clear:both; padding:0 50px; color: #666; text-align:right; font-size:10px; min-width:680px;}
div#footer-content {}
div#footer a {color: #666; text-decoration:none; font-size:10px;}
div#footer a:hover {color:#333; text-decoration: underline;}
div#footer a.support img {margin: 1px 0 0 -20px; position: absolute;}

/* MENU PRINCIPAL */
div.cadre_menu {width:980px; margin:-37px auto 37px auto;}
ul.menu {width: auto; position:relative; list-style:none; z-index:25; float:right; margin-right:10px;}
ul.menu li {float:left; margin-left:15px;}
ul.menu li a { color: #999999; font-family: 'Molengo', sans-serif; font-size: 15px; font-weight: normal; text-transform:uppercase;}
ul.menu li:hover a {color:#993333; text-decoration:none; padding-bottom:19px; background:url(../img/arrow-01.png) no-repeat center 26px;}
ul.menu li a.selected { color:#993333; padding-bottom:19px; background:url(../img/arrow-01.png) no-repeat center 26px;}
ul.menu li ul {position:absolute; display:none; list-style:none; z-index:24; padding:0; margin-top:19px;}
ul.menu li:hover ul {display:block; *display:none;}
ul.menu li ul li {float:none; display:block; background-color:#333; background-image:url(../images/sous-menu.png); padding:0;}
ul.menu li:hover ul li a, ul.menu li ul li a {font-size: 12px; text-transform: none; padding:5px 0px 5px 10px; color:#FFFFFF; background:none; border-left:1px solid #000000; border-right:1px solid #000000; border-bottom: 1px solid #000000; display:block;}
ul.menu li ul li.border-bottom a {border-bottom:1px solid #ccc;}
ul.menu li ul.tiers {margin-left: -70px;}
ul.menu li ul.tiers li a {width:140px;}
ul.menu li ul.comptabilite {margin-left: -40px;}
ul.menu li ul.comptabilite li a {width:150px;}
ul.menu li ul.rapports {margin-left: -40px;}
ul.menu li ul.rapports li a {width:120px;}
ul.menu li ul.mon_espace {margin-left: -25px;}
ul.menu li ul.mon_espace li a {width:110px;}
ul.menu li ul li a:hover {color:#333333; background:#e3e3e3;}
ul.menu li ul li:first-child, .menu ul li:first-child a {-webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px; -webkit-border-bottom-top-radius:10px; border-top-right-radius: 10px; border-top-left-radius: 10px;}
ul.menu li ul li:last-child, .menu ul li:last-child a {-webkit-border-bottom-left-radius:10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomleft:10px; -moz-border-radius-bottomright:10px; -webkit-border-bottom-radius:10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}
ul.menu li ul li:first-child a {border-top:1px solid #000000; }
ul.menu li ul li:last-child a {border-bottom:1px solid #000000;}
ul.menu li a.accueil {width:24px; height:26px; padding:0; display:block; background:url(../img/boutons/accueil.png); background-position:top; margin-top:-5px;}
ul.menu li a.config {width:25px; height:25px; padding:0; display:block; background:url(../img/boutons/configuration.png); background-position:top; margin-top:-3px;}
ul.menu li a.users {width:25px; height:25px; margin-top:-1px; padding:0; display:block; background:url(../img/boutons/users.png); background-position:top;}
ul.menu li a.ico_selected {background-position:bottom;}
ul.menu li a.deco {width:24px; height:26px; padding:0; display:block; background:url(../img/boutons/deco.png); background-position:top; margin-top:-3px;}
ul.menu li ul.configuration {margin: 0px 0 0 -310px; width: 340px;}
ul.menu li ul.configuration li.titre {width: 330px; padding: 3px 0 3px 10px; height: auto; color: #fff; text-transform: uppercase; font-weight: bold; font-size:11px; border-bottom: 1px solid #ccc; -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px; -webkit-border-bottom-top-radius:10px; border-top-right-radius: 10px; border-top-left-radius: 10px;}
ul.menu li ul.configuration li.sous-titre {height:7px; padding:0; width: 340px;}
ul.menu li ul.configuration li {float: left; width: 170px; margin:0; height: 24px; border-radius:0px; -moz-border-radius:0px; border-radius: 0px;}
ul.menu li ul.configuration li a {width: 158px; border-right: 0;}
ul.menu li ul.configuration li.blank {border-left: 1px solid #000000; width: 169px;}
ul.menu li ul.configuration li.last1, ul.menu li ul.configuration li.last1 a {-webkit-border-bottom-left-radius:10px; -moz-border-radius-bottomleft:10px; border-bottom-left-radius: 10px;}
ul.menu li ul.configuration li.last2, ul.menu li ul.configuration li.last2 a {-webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomright:10px; border-bottom-right-radius: 10px;}

/* LISTE DES TITRES - PICTOS */
p.titre-tiers {background: url(../img/titres/tiers.png); padding:7px 0 0 50px; height: 28px;}
p.titre-bdl {background: url(../img/titres/bdl.png); padding:3px 0 0 50px; height: 25px;}
p.titre-prospect {background: url(../img/titres/prospect.png); padding:7px 0 0 50px; height: 32px;}
p.titre-liste-tiers {background: url(../img/titres/liste-tiers.png); padding:6px 0 0 60px; height: 29px;}
p.titre-import-export {background: url(../img/titres/import-export.png); padding:5px 0 0 60px; height: 30px;}
p.titre-graphique {background: url(../img/titres/graphique.png); padding:2px 0 0 60px; height: 31px;}
p.titre-alertes {background: url(../img/titres/alertes.png); padding:3px 0 0 60px; height: 31px;}
p.titre-devis {background: url(../img/titres/devis.png); padding:2px 0 0 50px; height: 28px;}
p.titre-facture {background: url(../img/titres/factures.png); padding:2px 0 0 50px; height: 28px;}
p.titre-avoir {background: url(../img/titres/avoirs.png); padding:2px 0 0 50px; height: 28px;}
p.titre-catalogue-produits {background: url(../img/titres/catalogue-produits.png); padding:2px 0 0 60px; height: 26px;}
p.titre-historique {background: url(../img/titres/historique.png); padding:1px 0 0 50px; height: 28px;}
p.titre-messagerie {background: url(../img/titres/messagerie.png); padding:0px 0 0 50px; height: 24px;}
p.titre-information {background: url(../img/titres/information.png); padding:3px 0 0 60px; height: 31px;}
p.titre-logo {background: url(../img/titres/logo.png); padding:4px 0 0 60px; height: 31px;}
p.titre-agenda {background: url(../img/titres/agenda.png); padding:6px 0 0 60px; height: 30px;}
p.titre-home {background: url(../img/titres/home.png); padding:5px 0 0 60px; height: 26px;}
p.titre-configuration {background: url(../img/titres/configuration.png); padding:3px 0 0 60px; height: 30px;}
p.titre-euro {background: url(../img/titres/euro.png); padding:3px 0 0 60px; height: 30px;}
p.titre-rapports {background: url(../img/titres/rapports2.png); padding:3px 0 0 60px; height: 32px;}
p.titre-pieces-jointes {background: url(../img/titres/pieces_jointes.png); padding:9px 0 0 55px; height: 26px;}
p.titre-listes {background: url(../img/titres/listes.png); padding:6px 0 0 60px; height: 27px;}
p.titre-connect {background: url(../img/titres/connect.png); padding:6px 0 0 60px; height: 29px;}
p.titre-achats {background: url(../img/titres/achats.png); padding:6px 0 0 60px; height: 28px;}
p.titre-relances-commerciales {background: url(../img/titres/relances-commerciales.png); padding:6px 0 0 60px; height: 28px;}
p.titre {font-weight:bold; font-size:18px; margin: 0 0 10px 7px; color:#4c4b4b; background-repeat:no-repeat;}

/* LISTE DES PETITS TITRES */
p.small-titre-agenda {background: url(../img/titres/small/agenda.png); padding:3px 0 0 40px; height: 27px;}
p.small-titre-informations {background: url(../img/titres/small/informations.png); padding:3px 0 0 40px; height: 23px;}
p.small-titre-elements-lies {background: url(../img/titres/small/elements-lies.png); padding:2px 0 0 40px; height: 20px;}
p.small-titre-alertes {background: url(../img/titres/small/alertes.png); padding:3px 0 0 45px; height: 22px;}
p.small-titre-contacts {background: url(../img/titres/small/contacts.png); padding:3px 0 0 45px; height: 22px;}
p.small-titre-login {background: url(../img/titres/small/login.png); padding:2px 0 0 45px; height: 21px;}
p.small-titre-messagerie {background: url(../img/titres/small/messagerie.png); padding:0 0 0 45px; height: 19px;}
p.small-titre-facture {background: url(../img/titres/small/facture.png); padding: 1px 0 0 45px; height: 21px;}
p.small-titre-contact {background: url(../img/titres/small/contact.png); padding: 3px 0 0 45px; height: 21px;}
p.small-titre-logo {background: url(../img/titres/small/logo.png); padding: 1px 0 0 45px; height: 22px;}
p.small-titre-euro {background: url(../img/titres/small/euro.png); padding: 0 0 0 45px; height: 22px;}
p.small-titre-edit {background: url(../img/titres/small/edit.png); padding: 0 0 0 45px; height: 21px;}
p.small-titre-etat {background: url(../img/titres/small/etat.png); padding: 3px 0 0 45px; height: 23px;}
p.small-titre {font-weight:bold; font-size:14px; margin: 0 0 10px 7px; color:#4c4b4b; background-repeat:no-repeat;}

/* MENU LATERAL */
div#menu {z-index:26; position:absolute; width:200px; padding:0 0 130px 0; background: url(../img/bg-menu.png); border-right: 1px solid #636363; -moz-box-shadow: 0 5px 5px #666; -webkit-box-shadow: 0 5px 5px #666; box-shadow: 0 5px 5px #666;}
div#menu ul li span.menu-img {display:block; width: 36px; height: 27px; background-position: right top; margin:5px 0 0 7px; background-repeat: no-repeat; float:left; -khtml-opacity:0.6; -moz-opacity : 0.6; opacity : 0.6;}
div#menu ul li:hover span.menu-img {-khtml-opacity:0.7; -moz-opacity : 0.7; opacity : 0.7;}
div#menu ul li.selected span.menu-img, div#menu ul li.selected:hover span.menu-img {background-position: right bottom; -khtml-opacity:1.0; -moz-opacity : 1.0; opacity : 1.0;}
div#menu ul {height:auto;}
div#menu ul li {list-style: none;}
div#menu ul li.titre {font-weight: normal; text-transform: uppercase; color:#ececec; background: transparent; padding: 7px 0 5px 10px; font-family: sans-serif;}
div#menu ul li a {height:20px; display:block; width:100%; height: 40px; color:#7d7d7d; background:#f5f5f5; border-top:2px solid #7d7d7d;}
div#menu ul li:first-child a {border:0;}
div#menu ul li a span {float:left; margin:11px 0 0 15px;}
div#menu ul li a span.two-line {margin:3px 0 0 15px;}
div#menu ul li a:hover {background:#e3e3e3; background-position:bottom; text-decoration:none; color:#666;}
div#menu ul li.selected a {text-decoration:none; background: url(../img/bg-menu-active.png); color: #fff;}
div#menu .assistance-technique {background:url(../img/assistance_technique.png) #FFF; background-position: 5px 5px; background-repeat: no-repeat; margin: 30px 0; color: #666; padding: 10px; font-size:13px; text-align:right; border-top:2px solid #7d7d7d; border-bottom:2px solid #7d7d7d; clear:both;}
div#menu .assistance-technique .number {font-size:18px;}
div#menu .assistance-technique .tarif {font-size:10px; color: green;}
#menu a.back-btn {height: 20px; margin:17px 0 0 10px; float:left; color:#fff;}
#menu a.back-btn img {float: left; margin-top:1px;}
#menu a.back-btn span {float: left; margin-left:5px;}
#menu a.back-btn {margin-bottom: 10px;}

/* MENU LATERAL MINI
(min-width:1301px) and  */
@media all and (max-width:1420px) {
	div#menu {width: 160px;}
	div#menu ul li span.menu-img {margin:5px 0 0 4px;}
	div#menu ul li a span {margin:11px 0 0 15px;}	
	div#menu ul li a span.two-line {margin:3px 0 0 15px;}	
	div#menu .adapt {display:block; width: 100px; margin-top:3px;}
	div#contenu {margin-left:160px; padding:35px 40px 50px 40px; min-width:700px;}
	div#footer {margin-left:160px; padding:0 40px; min-width:700px;}
	div#menu .assistance-technique {background:url(../img/assistance_technique.png) #FFF; background-position: 2px 3px; background-repeat: no-repeat; margin: 30px 0; color: #666; padding: 10px 5px; font-size:11px; text-align:right; border-top:2px solid #7d7d7d; border-bottom:2px solid #7d7d7d; clear:both;}
	div#menu .assistance-technique .number {font-size:14px;}
	div#menu .assistance-technique .tarif {font-size:10px; color: green;}	
}


/* MENU LATERAL - PICTOS */
span.menu-relances-commerciales {background: url(../img/menu/relances-commerciales.png);}
span.menu-agenda {background: url(../img/menu/agenda.png);}
span.menu-tbord {background: url(../img/menu/tbord.png);}
span.menu-nouveau-prospect {background: url(../img/menu/nouveau_prospect.png);}
span.menu-liste-prospects {background: url(../img/menu/liste_prospects.png);}
span.menu-liste-charges {background: url(../img/menu/charges.png);}
span.menu-nouveau-client {background: url(../img/menu/nouveau_client.png);}
span.menu-liste-clients {background: url(../img/menu/liste_clients.png);}
span.menu-nouveau-fournisseur {background: url(../img/menu/nouveau_fournisseur.png);}
span.menu-liste-fournisseurs {background: url(../img/menu/liste_fournisseurs.png);}
span.menu-nouveau-soustraitant {background: url(../img/menu/nouveau_soustraitant.png);}
span.menu-liste-soustraitants {background: url(../img/menu/liste_soustraitants.png);}
span.menu-archivage {background: url(../img/menu/archivage.png);}
span.menu-imports_exports {background: url(../img/menu/imports_exports.png);}
span.menu-nouveau-devis {background: url(../img/menu/nouveau_devis.png);}
span.menu-liste-devis {background: url(../img/menu/liste_devis.png);}
span.menu-nouvelle-facture {background: url(../img/menu/nouvelle_facture.png);}
span.menu-liste-factures {background: url(../img/menu/liste_factures.png);}
span.menu-liste-avoirs {background: url(../img/menu/liste_avoirs.png);}
span.menu-factures-impayes {background: url(../img/menu/factures_impayes.png);}
span.menu-encaissement {background: url(../img/menu/encaissement.png);}
span.menu-catalogue-produit {background: url(../img/menu/catalogue_produit.png);}
span.menu-nouvel-achat {background: url(../img/menu/nouvel_achat.png);}
span.menu-liste-achats {background: url(../img/menu/liste_achats.png);}
span.menu-nouvelle-soustraitance {background: url(../img/menu/nouvelle_soustraitance.png);}
span.menu-liste-soustraitances {background: url(../img/menu/liste_soustraitances.png);}
span.menu-historique {background: url(../img/menu/historique.png);}
span.menu-alertes {background: url(../img/menu/alertes.png);}
span.menu-messagerie {background: url(../img/menu/messagerie.png);}
span.menu-ma-societe {background: url(../img/menu/ma_societe.png);}
span.menu-mon-abonnement {background: url(../img/menu/mon_abonnement.png);}
span.menu-gestion-fonctionnalites {background: url(../img/menu/gestion_fonctionnalites.png);}
span.menu-configuration-emails {background: url(../img/menu/configuration_emails.png);}
span.menu-pieces-jointes {background: url(../img/menu/pieces_jointes.png);}
span.menu-listes-deroulantes {background: url(../img/menu/listes_deroulantes.png);}
span.menu-connexions-actives {background: url(../img/menu/connexions_actives.png);}

/* PAGE D'ACCUEIL */
#page .home-block-content {width:970px; margin:auto;}
#page .home-aide-block {width:235px; height:60px; border:1px solid #333; float:left; margin-left:5px;}
#page .home-aide-block .close {float:right; font-size:11px; border-radius:0px; -moz-border-radius:0px; border-radius: 0px; background:transparent; border:1px solid #000; -webkit-box-shadow: none; -moz-box-box-shadow: none; box-shadow: none; text-decoration: none; padding:1px 5px;}
#page .home-aide-block .close:hover {background: #333; color:#FFF;}
#page .home-aide-block .content {text-decoration:none; display:block; padding:15px 20px 15px 65px; width:150px; height:30px; *margin-top:-15px;}
#page .home-aide-block img {position:absolute; margin:-5px 0 0 -55px;}
#page .home-block-2 .content {text-decoration:none; display:block; padding:15px 5px 15px 50px; width:180px; height:30px;}
#page .home-block-2 img {position:absolute; margin:-5px 0 0 -45px;}
#page .home-block-1 {background: #FBC24E; border-color: #986214;}
#page .home-block-2 {background: #EA5657; border-color: #9B1916;}
#page .home-block-3 {background: #C6C6C5; border-color: #878786;}
#page .home-block-4 {background: #FFFFFF; border-color: #333333;}

.tabs-home-full {width: 100% !important;}
.tabs-home .last_pieces table {width: 100%; border-bottom: 1px solid #999; padding: 5px 0 5px 5px; background: url(../img/home-table-bg.png) repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background-image: -webkit-gradient(linear,left top, left bottom,from(#ffffff),to(#e3e3e3)); background-image: -webkit-linear-gradient(top,#ffffff,#e3e3e3); background-image: -moz-linear-gradient(top,#ffffff,#e3e3e3); background-image: -o-linear-gradient(top,#ffffff,#e3e3e3); /*background-image: linear-gradient(top,#ffffff,#e3e3e3); */cursor: pointer;}
.tabs-home .last_pieces table .fleche {text-align: right; width: 20px; padding: 0 5px 0 10px; opacity : 0.5; -moz-opacity : 0.5;}
.tabs-home .last_pieces table:hover .fleche  {opacity : 1.0; -moz-opacity : 1.0;}
@media all and (min-width:1000px) {
	.tabs-home .last_pieces table {padding: 5px 0 5px 10px;}
	.tabs-home .last_pieces table .fleche {text-align: right; width: 20px; padding: 0 10px 0 10px; opacity : 0.5; -moz-opacity : 0.5;}
}

/* SYSTEME D'AFFICHAGE PAR ONGLETS - JQUERY UI */
.ui-tabs {padding:0; background: transparent; margin:0;}
.ui-tabs .ui-tabs-nav {padding:0;}
.ui-tabs .ui-widget-header {background: transparent; border:0;}
.ui-tabs .ui-widget-header .ui-state-default, .ui-tabs .ui-widget-header .ui-state-active {border:1px solid #ccc; border-bottom:0;}
.ui-tabs .ui-widget-content {background: transparent; border:0;}
.ui-tabs .ui-tabs-panel {border:1px solid #ccc; background: #fff; -moz-border-radius: 0px 10px 10px; -webkit-border-radius: 0px 10px 10px 10px; border-radius: 0px 10px 10px;}
.ui-tabs div {font-size:12px;}
.ui-widget-content {border:0;}

/* FENETRE DE DIALOGUE - JQUERY UI */
.ui-dialog .ui-dialog-title {font-size:12px;}
.ui-dialog .ui-dialog-buttonset {font-size:12px;}

/* SYSTEME TOOLTIP - JQUERY UI */
.custom-tooltip-black {background: #333; font-size: 11px; color: #FFF; padding: 5px 10px;}
.custom-tooltip-red {background: #b32526; font-size: 11px; color: #FFF; padding: 5px 10px;}
.custom-tooltip-white {background: #fff; color:#000 !important; font-size: 11px; color: #FFF; padding: 5px 10px; border:1px solid #999;}

/* BOUTON - JQUERY UI */
.ui-button-icon-only {height: 18px; width: 22px;}
.ui-button-red {background: url(../img/bg-menu-active.png);}

/* AUTO COMPLETE - JQUERY UI */
.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden; border:1px solid #666;}
* html .ui-autocomplete {height: 200px;}
.ui-autocomplete-category {font-weight: bold; padding: .2em .4em; margin: .8em 0 .2em; line-height: 1.5;}
.ui-autocomplete .ui-autocomplete-category:first-child {margin-top:0;}

.ui-combobox-input {width: 300px !important; padding: 2px !important; font-size:11px; color:#000; background: #fff !important; border: 1px solid #e3e3e3; -moz-box-shadow: 0 0 5px #e3e3e3; -webkit-box-shadow: 0 0 5px #e3e3e3; box-shadow: 0 0 5px #e3e3e3; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.ui-combobox {position: relative; display: inline-block;}
.ui-combobox-toggle {position: absolute; top: 0; bottom: 0; margin-left: -1px; padding: 0; height:18px; width:22px; margin-top:1px;}
.ui-combobox-input {margin: 0; padding: 0.3em;}


/* GESTION DES DIFFERENTS BOUTON */
input.readonly, input[type=text], input[type=password], textarea {border: 1px solid #e3e3e3; -moz-box-shadow: 0 0 5px #e3e3e3; -webkit-box-shadow: 0 0 5px #e3e3e3; box-shadow: 0 0 5px #e3e3e3; padding: 2px; resize: none;}
input[type=text].selected, input[type=text].always_selected, input[type=password].selected, textarea.selected {border: 1px solid #6699cc; -moz-box-shadow: 0 0 5px #6699cc; -webkit-box-shadow: 0 0 5px #6699cc; box-shadow: 0 0 5px #6699cc;}
input[type=text].error, input[type=password].error, textarea.error {border: 1px solid red; -moz-box-shadow: 0 0 5px red; -webkit-box-shadow: 0 0 5px red; box-shadow: 0 0 5px red;}
input[type=button], .button, a.submit, a.btn_retour, ul.sous_menu li a, .contenu input[type=submit] {float:left; margin-left: 10px; text-decoration: none; font-family: Arial, Verdana, sans-serif, Helvetica; font-weight:bold; color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; box-shadow: 1px 1px 5px #555; background: url("../img/fond_input.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background-image: -webkit-gradient(linear,left top, left bottom,from(#cc3333),to(#660000)); background-image: -webkit-linear-gradient(top,#cc3333,#660000); background-image: -moz-linear-gradient(top,#cc3333,#660000); background-image: -o-linear-gradient(top,#cc3333,#660000); /*background-image: linear-gradient(top,#cc3333,#660000);*/}
input[type=button]:hover, .button:hover, a.submit:hover, a.btn_retour:hover, a.sous_button:hover, ul.sous_menu li a:hover, .contenu input[type=submit]:hover {cursor: pointer; text-decoration: none; background: url("../img/fond_input-survol.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background-image: -webkit-gradient(linear,left top, left bottom,from(#EA7171),to(#CC3333)); background-image: -webkit-linear-gradient(top,#EA7171,#CC3333); background-image: -moz-linear-gradient(top,#EA7171,#CC3333); background-image: -o-linear-gradient(top,#EA7171,#CC3333); /*background-image: linear-gradient(top,#EA7171,#CC3333);*/}
.sous_menu li a.valid, a.valid {float:left; margin-left: 10px; text-decoration: none; font-family: Arial, Verdana, sans-serif, Helvetica; font-weight:bold; color: #fff; padding: 6px 10px 6px 40px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; box-shadow: 1px 1px 5px #555;  background: url("../img/btn_valid.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background-image: -webkit-gradient(linear,left top, left bottom,from(#00cc00),to(#006600)); background-image: -webkit-linear-gradient(top,#00cc00,#006600); background-image: -moz-linear-gradient(top,#00cc00,#006600); background-image: -o-linear-gradient(top,#00cc00,#006600); /*background-image: linear-gradient(top,#00cc00,#006600);*/}
.sous_menu li a.valid:hover, a.valid:hover {cursor: pointer; text-decoration: none; background: url("../img/btn_valid2.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background-image: -webkit-gradient(linear,left top, left bottom,from(#00cc00),to(#33cc33)); background-image: -webkit-linear-gradient(top,#33cc33,#00cc00); background-image: -moz-linear-gradient(top,#33cc33,#00cc00); background-image: -o-linear-gradient(top,#33cc33,#00cc00); /*background-image: linear-gradient(top,#33cc33,#00cc00);*/}
a.submit {padding: 6px 40px 6px 10px;}
a.button img, a.valid img {position:absolute; margin-left:-30px; margin-top:-2px;}
a.annuler img {position:absolute; margin-left:-30px; margin-top:-1px;}
a.submit img {position:absolute; margin-left:10px; margin-top:-3px;}
a.close { background: url("../img/btn-annuler-1.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background: -webkit-gradient(linear,left top, left bottom,from(#666666),to(#000000)); background: -webkit-linear-gradient(top,#666666,#000000); background: -moz-linear-gradient(top,#666666,#000000); background: -o-linear-gradient(top,#666666,#000000); /*background: linear-gradient(top,#666666,#000000);*/ padding: 2px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; box-shadow: 1px 1px 5px #555;}
a.annuler {float:left; margin-left:10px; background: url("../img/btn-annuler-1.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background: -webkit-gradient(linear,left top, left bottom,from(#666666),to(#000000)); background: -webkit-linear-gradient(top,#666666,#000000); background: -moz-linear-gradient(top,#666666,#000000); background: -o-linear-gradient(top,#666666,#000000); /*background: linear-gradient(top,#666666,#000000);*/ padding: 5px 10px 5px 10px; text-decoration: none; font-family: Arial, Verdana, sans-serif, Helvetica; font-weight:bold; color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; box-shadow: 1px 1px 5px #555;}
a.annuler:hover {cursor:pointer; background: url("../img/btn-annuler-2.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; background: -webkit-gradient(linear,left top, left bottom,from(#999999),to(#333333)); background: -webkit-linear-gradient(top,#999999,#333333); background: -moz-linear-gradient(top,#999999,#333333); background: -o-linear-gradient(top,#999999,#333333); /*background: linear-gradient(top,#999999,#333333);*/ text-decoration: none;}
div#sous_menu {margin:auto;}
div#sous_menu_fiche a {margin-top:10px;}
div#sous_menu_fiche a:hover {text-decoration: none;}
div#sous_menu_fiche ul.sous_menu li ul li a {margin-top:0;}
ul.sous_menu {float:left;}
ul.sous_menu li {list-style:none;}
ul.sous_menu li a {position: relative; z-index:4;}
ul.sous_menu li ul {display:none; width: 115px;}
ul.sous_menu li:hover ul {display:block; position:absolute; padding-top:37px; z-index:9;}
ul.sous_menu li ul li a {display:block; border-top: 1px solid #333; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; box-shadow: none; background: url(../img/fonds/sous_menu.png); width:115px; padding:5px 10px;}
ul.sous_menu li:hover ul li a:hover {background:#333;}
input[type=button], .button, a.annuler, a.btn_retour, ul.sous_menu li a {padding: 6px 10px 6px 40px;}
/*
.redactor_btns_box input[type=button] {border:0; color:rgb(119,119,119); font-size:11px !important;  background:none; padding:0; float: inherit; box-shadow:none;}
.redactor_btns_box input[type=button]:hover {text-decoration:underline;}
*/
.contenu input[type=submit] {border:0; padding:5px 10px;}

/* LISTING DES ALERTES */
table.titre-alertes-content {width: 99%;}
table.titre-alertes-content tr td {padding:0; border:0;}
table.titre-alertes-content tr td select {margin: 5px 0 15px 10px;}
table.titre-alertes-content tr td .titre {margin-bottom:15px;}
table.titre-alertes-content table.show-alertes-termines {clear:both; padding-bottom:5px; margin-left:20px;}
table.titre-alertes-content table.show-alertes-termines tr td {border:0; font-weight:normal;}
table.titre-alertes-content table.alerte-link {float:right; width: 190px;}
table.titre-alertes-content table.alerte-link tr td a { text-align:center; background:#e3e3e3; border-left: 1px solid #999; border-top: 1px solid #999; border-bottom: 1px solid #999;}
table.titre-alertes-content table.alerte-link tr td a:hover {background: #666;}
table.titre-alertes-content table.alerte-link tr td.last a {border-right: 1px solid #999;}
table.titre-alertes-content table.alerte-link a {color: #000; font-size:11px; font-weight: normal; padding: 5px 10px; display: block;}
table.titre-alertes-content table.alerte-link a:hover {text-decoration: none;}
table.titre-alertes-content table.alerte-link tr td.selected a {background:#333;}
table.titre-alertes-content table.alerte-link tr td.selected a, table.titre-alertes-content table.alerte-link tr td:hover a {color: #fff;}
table.alertes-content {margin-top:-2px;}

/* FICHE TIERS */
#tiers-left-content {width: 650px; float:left; height: 445px;}
#tiers-left-content .cadre {border:1px solid #ccc; background: #fff; position: relative; width: 100%; height: 445px; overflow-y: auto; overflow-x: hidden; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
#tiers-left-content .cadre:after {content: " "; position: absolute; width: 97%; height: 30px; z-index: -10; bottom: 7px; right: 5px; transform: rotate(1deg); box-shadow: -7px 10px 10px #333;}
#tiers-left-content table {margin:5px 5px 0 5px; width:48%; max-height: 330px; float:left; border-right: 1px solid #e3e3e3; padding: 10px 7px 0 0; font-weight: lighter;}
#tiers-left-content table td.bold {width: 135px; font-weight: 500;}
#tiers-left-content table.second {border:0; padding: 10px 0 0 7px;}
#tiers-left-content table.bottom {clear:both; float: none; width:100%; height: 120px;}
#tiers-left-content table td {padding: 5px;}
#tiers-left-content .observations {border:1px solid #e3e3e3; padding:5px; height: 65px; overflow:auto;}

#tiers-right-content {margin-left:30px; width: 430px; float:left;}
#tiers-right-content .listing {border:1px solid #ccc; position: relative; padding-top: 5px; height: 185px; background: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
#tiers-right-content .listing:after {content: " "; position: absolute; width: 95%; height: 30px; z-index: -10; bottom: 6px; right: 5px; transform: rotate(1deg); box-shadow: -7px 10px 10px #333;}
#tiers-right-content .listing .overflow {overflow: auto; height: 180px; width: 100%;}
#tiers-right-content .listing .alerte-date {background: url(../img/bg-alertes.png); width: 48px; height: 38px; text-align:center; color:#FFF; padding-top: 17px; font-size: 14px;}
#tiers-right-content .listing .alerte-date2 {background: url(../img/bg-alertes2.png); width: 48px; height: 38px; text-align:center; color:#FFF; padding-top: 17px; font-size: 14px;}
#tiers-right-content .listing .pictos-alertes {text-align: right; width: 70px; vertical-align: bottom; color: gray;}
#tiers-right-content .listing .pictos-alertes a {float: right; display: block; margin-top:-45px;}
#tiers-right-content .listing .pictos-alertes a:last-child {margin-right: 35px;}
#tiers-right-content .listing .pictos-alertes a:first-child {margin-right: 10px;}
#tiers-right-content .listing table {width: 100%;}
#tiers-right-content .listing table tr.gris {opacity : 0.5; -moz-opacity : 0.5;}
#tiers-right-content .listing table tr.gris:hover {opacity : 1.0; -moz-opacity : 1.0;}
#tiers-right-content .listing table td {padding:4px 5px 4px 10px; border-bottom: 1px solid #e3e3e3; overflow: hidden; vertical-align:top;}
#tiers-right-content .listing table td.actions {padding: 3px; border-left: 1px solid #e3e3e3; text-align: center; vertical-align: middle; width:30px;}
#tiers-right-content .listing table td.actions a {display: block; margin-bottom: 2px; opacity : 0.5; -moz-opacity : 0.5;}
#tiers-right-content .listing table tr:hover td.actions a {opacity : 1.0; -moz-opacity : 1.0;}
#tiers-right-content .add-btn a {font-weight: bold; float:right; margin-right:10px; margin-top:-7px; font-size:26px; text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;}
#tiers-right-content .add-btn a:hover {text-decoration: none;}
p.contact-alertes {background: url(../img/contacts_alertes.png); background-repeat: no-repeat; padding-left: 20px; font-size: 11px; margin: 5px 0;}
span.contact-alertes {font-weight: normal;}

#tiers-left-content table td, #tiers-right-content table td {vertical-align: top;}

/* FICHE TIERS - MINI PICTO */
p.email {background: url(../img/email.png); background-repeat: no-repeat; padding-left: 25px; background-position: left 3px; height: 17px; margin: 10px 5px 5px 0;}
p.fax {background: url(../img/fax.png); background-repeat: no-repeat; padding-left: 25px; background-position: left 1px; height: 17px; margin: 5px 5px 5px 0;}
p.portable {background: url(../img/portable.png); background-repeat: no-repeat; padding-left: 25px; background-position: 4px 1px; height: 17px; margin: 5px 5px 5px 0;}
p.telephone {background: url(../img/telephone.png); background-repeat: no-repeat; padding-left: 25px; background-position: 4px 1px; height: 17px; margin: 5px 5px 5px 0;}

/* FICHE TIERS - ADAPTATIONS SELON RESOLUTIONS */
.onglet-contacts, .onglet-alertes {display: none;}
@media all and (min-width:1301px) and (max-width:1420px) {
	#tiers-left-content {width: 620px; float:left; height: 445px;}
	#tiers-right-content {width: 400px; float: right; margin-left: 0;}
}
@media all and (max-width:1300px) {
	.onglet-contacts, .onglet-alertes {display: block;}
	#tiers-left-content {float: none; margin-bottom: 30px;}
	#tiers-right-content {display: none;}
}

/* COMPTABILITE */
div.form_piece {padding:10px 30px; width:660px; border:1px solid #ccc; position: relative; background: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
div.form_piece table tr td {padding:5px;}
div.form_piece table tr td table tr td {padding:0;}

.produit_designation {border:1px solid #e3e3e3; background: #fff; padding:5px; width:700px; min-height: 100px;}
.produit_designation ul li {list-style: disc; margin-left: 15px;}

.ombrage {position: relative; background: #fff;}
.ombrage:after {content: " "; position: absolute; width: 90%; height: 30px; z-index: -10; bottom: 9px; right: 5px; transform: rotate(1deg); box-shadow: -7px 10px 10px #333;}
.tabs-export:after {content: " "; position: absolute; width: 97%; height: 30px; z-index: -10; bottom: 9px; right: 5px; transform: rotate(1deg); box-shadow: -7px 10px 10px #333;}
.tabs-tiers div {height: 350px;}
.tabs-tiers:after {content: " "; position: absolute; width: 97%; height: 30px; z-index: -10; bottom: 9px; right: 5px; transform: rotate(1deg); box-shadow: -7px 10px 10px #333;}

table.actions_btn {float:left; background: #fff; text-align:center; position: relative;}
table.actions_btn tr td {padding:5px; border-right:1px solid #ccc;}
table.actions_btn tr td:hover {background: #333;}
table.actions_btn tr td:hover a {background-position:bottom;}
table.actions_btn:after {content: " "; position: absolute; width: 90%; height: 30px; z-index: -10; bottom: 5px; right: 5px; transform: rotate(1deg); box-shadow: -7px 10px 10px #333;}

table.actions_btn ul li ul {position:absolute; margin: 5px 0 0 -5px; display: none; z-index:5;}
table.actions_btn td:last-child:hover ul li ul, table.actions_btn ul li:hover ul {display: block;}
table.actions_btn ul li ul li {background: #fff; border-bottom:1px solid #ccc; width:35px; height: 30px; text-align: center; padding-top:5px;}
table.actions_btn tr td:hover ul li ul li a {background-position: top; margin: auto; float: none;}
table.actions_btn tr td:hover ul li ul li:hover a, table.actions_btn tr td:hover ul li ul li a:hover {background-position: bottom;}
table.actions_btn tr td:hover ul li ul li:hover {background: #333;}

a.btn_more {float:left; width:20px; height:14px; padding:0; display:block; background:url(../img/btn_more.png); background-position:top;}
a.edit_btn {float:left; width:29px; height:24px; padding:0; display:block; background:url(../img/boutons/modifier.png); background-position:top;}
a.archiver_btn {float:left; width:37px; height:24px; padding:0; display:block; background:url(../img/boutons/archiver.png); background-position:top;}
a.transform-client {float:left; width:28px; height:24px; padding:0; display:block; background:url(../img/boutons/client.png); background-position:top;}
a.transform-fournisseur {float:left; width:28px; height:23px; padding:0; display:block; background:url(../img/boutons/fournisseurs.png); background-position:top;}
a.transform-soustraitant {float:left; width:28px; height:23px; padding:0; display:block; background:url(../img/boutons/soustraitants.png); background-position:top;}
a.supprimer_btn {float:left; width:25px; height:24px; padding:0; display:block; background:url(../img/boutons/supprimer.png); background-position:top;}

table.actions_btn tr td a.new_devis {background:url(../img/boutons/nouveau-devis.png);}
table.actions_btn tr td a.new_facture {background:url(../img/boutons/nouvelle-facture.png);}

table.actions_btn tr td a.actions-btn {padding: 3px 5px 0 35px; height:21px; display:block; background-position: left top; background-repeat: no-repeat;}
table.actions_btn tr td:hover a.actions-btn, table.actions_btn tr td a.actions-btn:hover {background-position: left bottom; text-decoration: none; color: #fff;}







tr.class2 td {background:#e3e3e3;}
table:not(.nohover) tr.class2:not(.nohover):hover td {background:#999999;}


p.btn-retour {float:left; margin-right: 20px;}
.picto_titres {float:left; margin-right: 15px;}
a.config {width:25px; height:25px; padding:0; display:block; background:url(../img/boutons/configuration.png); background-position:top;}
select option {padding:2px 5px;}
div#dialog-message {}
span.ui-dialog-title {}
span.ui-button-text {}
span.ui-icon-alert {display:none;}
span#dialog-message-content {font-size:13px;}
div.ui-dialog-buttonpane {height:20px;}

div#shadowbox {position: absolute; display:none; z-index: 900; width:100%; height:100%; background:#000; opacity : 0.5; -moz-opacity : 0.5;}
div#shadowbox-content {background: url(../img/test.png) #d7d5d5; overflow-y:auto; overflow-x: hidden; position: fixed; display:none; z-index: 905; padding:20px; width:740px; top:10%; margin-left:-370px; left:50%;}
div#shadowbox-content .first-connexion {padding:20px; border:1px solid #e3e3e3; width: 700px; margin:auto;}
div#shadowbox-content .titre_shadowbox {font-size:16px;}
div#shadowbox-content .first-connexion hr {color:#e3e3e3; border-color:#e3e3e3; background: #e3e3e3; border:0; height:1px;}
div#shadowbox-content .first-connexion .btn-aide {display:block; padding: 5px 13px 5px 13px; background:#666; color: #FFF; font-weight: normal; -webkit-border-bottom-left-radius:10px; -moz-border-radius-bottomleft:8px; border-bottom-left-radius: 7px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomright:8px; border-bottom-right-radius: 7px; -webkit-box-shadow: 0px 1px 3px #666666; -moz-box-box-shadow: 0px 1px 3px #666666; box-shadow: 0px 1px 3px #666666;}

table.recherche {border:1px solid #e3e3e3; width:100%; margin-top:-15px;}
table.recherche tr td {padding:5px; cursor:default; background:#333; color:#fff;}
table.recherche tr.class1 td {background:#e8e9ea;}
table.recherche tr:hover {background:#666; color:#fff; cursor:pointer;}


a.underline {text-decoration: underline;}
a.underline:hover {text-decoration: none;}

tr.red-background td {
	background: url("../img/fond_input.png") repeat-x top; -o-background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#cc3333),to(#660000)); background-image: -webkit-linear-gradient(top,#cc3333,#660000); background-image: -moz-linear-gradient(top,#cc3333,#660000); background-image: -o-linear-gradient(top,#cc3333,#660000); /*background-image: linear-gradient(top,#cc3333,#660000);*/	
}


a.sous_button {
	display:block;
	border:1px solid #999;
	background:#e3e3e3;
	padding: 5px 10px 8px 25px;
	margin-top:-10px;
	margin-right:-10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
	height:15px;
}
a.sous_button span {font-weight:bold; font-size:20px; position:absolute; margin-left:-19px; margin-top:-7px; font-family: "Comic Sans MS", Ariel, Verdana}
a.sous_button:hover {cursor:pointer; color:#fff;}
a.sous_button:hover span {color:#fff;}

a.add_btn {display:block; width:21px; height:20px; background: url(../img/btn_add.png); background-position: center bottom; margin-top:-1px;}
a.add_btn:hover {background-position: center top;}



a#go-to-top-page {
	width:50px; height:50px;
	background:url(../img/top_btn.png); background-position: bottom;
	position: fixed;
	right: 20px;  
	bottom: 50px;
	display: block;
	padding: 20px;
	background: #fff;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	opacity: 0.9;
	z-index: 2000;
}

.titre_shadowbox {text-align:center; font-weight:bold; font-size:15px; color:#990000;}

tr.titres td, tr.titres td:hover {background: url(../img/ui-bg_highlight-hard_8_333333_1x100.png) 50% 50% repeat-x; color: #eeeeee; font-weight: bold; cursor: default; -webkit-print-color-adjust:exact;}


tr.titres a {color:#fff; font-weight:normal;}
tr.titres a.selected {color:#fff; font-weight:bold;}

table#options_recherche {margin-bottom:5px;}
table#options_recherche td {padding-right:5px;}
table#options_recherche .titre {font-weight:bold; padding-left:10px;}
table#options_recherche select {margin-top:3px;}
p#options_search {position:absolute; margin-left:300px; margin-top:13px;}

table.dashboard {border:1px solid #999; width:47%;}
table.dashboard tr {height:25px;}
table.dashboard tr td {padding:2px 7px 2px 7px;}

table.recap {width:100%; border:1px solid #999; border-bottom:0; clear:both;}


table.recap_global {border:1px solid #999; border-bottom:0; clear:both;}
table.recap_global tr.titres td, table.recap tr.titres td {padding:3px; padding-left:10px; border-right:1px solid #999;}
table.recap_global tr td.titres, table.recap tr td.titres, table.annual-reports tr td.titres {background:#999; border-bottom:1px solid #666; color:#eee; text-align:left; padding-left:7px; -webkit-print-color-adjust:exact;}
table.recap_global tr td.today, table.annual-reports tr td.today {background: #ffcc66;}
td.warning {color: red;}
td.previsionnel {color: green;}
table.recap_global tr td.next, table.recap_global tr td.next a {color: #999; text-decoration:none;}
table.recap tr {height:25px; cursor: pointer;}
table.recap tr td.nohover, table.recap tr td.btn_actions {cursor: default;}
table.recap tr td.nohover a {display:block; float:left; width:100%; height: 100%;}
table.recap tr.titres td, table.recap tr td.titre {cursor: default;}
table.recap tr.class1 td {}
table.recap tr.class2 td {background:#e3e3e3;}
table.recap tr.class1:not(.nohover):hover td, table.recap tr.class2:not(.nohover):hover td {background:#999999; color:#fff;}
table.recap tr.class1:not(.nohover):hover a, table.recap tr.class2:not(.nohover):hover a {color:#fff;}
table.recap tr.nohover {cursor: default;}
table.recap tr td {padding:3px 3px 3px 10px; border-bottom:1px solid #999;}
table.recap_global tr td {padding:5px 10px; width:115px; border-left:1px solid #e3e3e3;}
table.recap_global tr td.nohover {cursor: default;}
table.recap_global tr.titres td, table.recap tr.titres td, td.sp-titre {background: #333333 url(../img/ui-bg_highlight-hard_8_333333_1x100.png) 50% 50% repeat-x; color: #eeeeee; font-weight: bold; cursor: default; -webkit-print-color-adjust:exact;}
table.recap tr.total td {padding-top:15px; font-weight:bold;}
table.recap tr.total td.right {padding-right:15px;}
table.recap_global tr td {border-bottom:1px solid #999; border-bottom:1px solid #999;}
table.recap_global a {text-decoration: underline;}
table.recap_global a:hover {text-decoration: none;}

table.module {width:200px; height:90px; float:left; margin-left:20px;border:1px solid #e3e3e3; padding:5px;}
table.module:hover {background:#333; color:#FFF; cursor:pointer;}
table.module tr td.titre {font-weight:bold; height:30px;}
table.module tr td.titre hr {margin-top:2px;}
table.module tr td.description {font-size:11px; vertical-align:top;}
table.module tr td.description p {margin-top:-5px;}

table.listing {width:100%; table-layout: fixed;}
table.listing tr {height:25px;}
table.listing tr.titres td {background:none; cursor: default; border:0; font-weight:bold; font-size:11px; color:gray; padding:3px 10px; border-bottom:1px solid #666; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
table.listing tr.class2 td {background:#e3e3e3;}
table.listing tr.class1:hover td, table.listing tr.class2:hover td {background:#999999; color:#fff; cursor:pointer;}
table.listing tr.class1 td, table.listing tr.class2 td {padding:3px 10px; border-bottom:1px solid #e3e3e3; border-right:1px solid #e3e3e3; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
table.listing tr.total td {padding-top:15px; font-weight:bold; border:0;}
table.listing tr.total td.right {padding-right:15px;}


table.recap tr.urgent td, table.listing tr.urgent td {background: #ff9999; color:#000;}
table.recap tr.urgent:hover td, table.listing tr.urgent:hover td {background: #ff6666; color:#fff;}
table.fonctions_select_all {margin-top:10px; font-size:11px;}
table.history tr:hover td {background:#666; color:#fff; cursor:default;}
table.history tr:hover td {cursor:default;}
table.history tr.hidde {display:none;}

a.btn_h_b1 {display:block; width:20px; height:17px; background:url(../img/fleche_h_b.png); background-position:bottom;}
a.btn_h_b2 {display:block; width:20px; height:17px; background:url(../img/fleche_h_b.png); background-position:top;}

table tr td.btn_actions {text-align:center;}
table tr td.btn_actions a {margin-left:5px;}
table tr td.btn_actions a.first {margin:0;}

table#menu_onglet {margin-bottom:10px; width:100%;}
table#menu_onglet td {padding-right:5px;}
table#menu_onglet td.year {padding:0; text-align:right; font-weight:bold; font-size:10px; color:#333;}
table#menu_onglet td.year select {margin-left:5px;} 
table#menu_onglet a {display:block; font-weight:bold; color:#333; text-align:center; padding:5px; border:1px solid #333;}
table#menu_onglet a.selected, table#menu_onglet a:hover {display:block; font-weight:bold; color:#fff; background:#333;}

table.new_user {border:1px solid #ccc; position: relative; background: #fff; width:500px;}
table.new_user tr td {padding:5px 15px;}
table.new_user tr:first-child td {padding: 20px 15px 5px 15px;}
table.new_user tr:last-child td {padding: 5px 15px 20px 15px;}
table.new_user tr.titres td {padding:5px 15px;}
table.new_user table td, table.new_user table td:first-child, table.new_user table td:last-child {padding:0;}
table.new_user table a.popup {margin-left:5px;}
table.new_user tr td.titre {font-weight:bold;}
table.new_user tr td input[type=text] {width:300px;}
table.new_user:after {content: " "; position: absolute; width: 95%; height: 30px; z-index: -10; bottom: 6px; right: 5px; transform: rotate(1deg); box-shadow: -7px 10px 10px #333;}

table.configuration {border:1px solid #999;}
table.configuration tr.class1 {}
table.configuration tr.class2 td {background:#e3e3e3;}
table.configuration tr.class1:hover, table.configuration tr.class2:hover {}
table.configuration tr td {padding:5px;}

div.ma_societe {width:450px; float:left; margin-bottom: 50px;}
div.ma_societe_margin {margin-right:50px;}
div.ma_societe table {width:450px;}

#contenu .messagerie-cadre {width:95%; padding:0; min-height: 400px;}
.messagerie-cadre table {width:100%; border-collapse:collapse;}
.messagerie-cadre table td {border:1px solid #e3e3e3;}

.messagerie-cadre table .new-msg td {background:#ffcc66; border:1px solid #cc9900; color:#333;}
.messagerie-cadre table td a {display:block; width:100%; height:20px; padding:5px 10px;}
.messagerie-cadre table tr:not(.titres):hover td {background: #e3e3e3;}
.messagerie-cadre table td a:hover {text-decoration: none;}
.messagerie-cadre table .piece_jointe, .messagerie-cadre table .checkbox {text-align:center; padding:0; width: 30px;}
.messagerie-cadre table .piece_jointe a {padding:0;}
.messagerie-cadre table .date {width: 150px;}
.messagerie-cadre table .destinataires {width: 150px;}
table.search {float:left; margin-left:30px; margin-top:-3px;}
table.search .espace {width:10px;}
table.search .text {padding:0 5px;}
table.search select {margin-top:2px;}
table.search input[type=text] {width:200px; color:gray;}
table.search input[type=submit] {float:none; padding:3px 5px; font-size:11px;}

div.cadre_message_content {width: 90%; padding: 10px; position: relative;}
table.message_content {border-top: 1px solid #999; width: 99%; position: relative; margin:10px; background: #e3e3e3;}
table.message_content td {vertical-align: top;}
table.message_content .infos-email {line-height:20px;}
table.message_content .infos-email p {float: left;}
table.message_content .infos-email .extrait-message {margin: 10px 0 0 50px;}
table.message_content .date {text-align:right;}
table.message_content .date .fright {margin: 10px 20px 0 15px;}
table.message_content .date .sous_menu {float:right; display: none;}
table.message_content .date .sous_menu ul {margin-top:-10px; text-align:left;}
table.message_content .date .sous_menu ul li a {width:90px;}
table.message_content .message {padding:15px 0 15px 0; display: none;}
table.message_content .extrait-message {display: block; color:gray;}
table.message_content .fichier {padding:10px 0 10px 0; border-top:1px solid #e3e3e3; font-size:11px;}
table.message_content .fichier p {float:left; text-align:center; border-right: 1px solid #e3e3e3; padding: 0 10px;}
table.message_content-selected {background:#fff;}
table.message_content-selected .date .sous_menu {display: block;}
table.message_content-selected .date .fright {margin: 3px 0 0 15px;}
table.message_content-selected .message {display: block;}
table.message_content-selected .extrait-message {display: none;}

div.stop {background:#FF3333; border:1px solid #660000; color:#fff; padding:5px; width:350px; margin:auto; text-align:center;}
div.warning {background:#ffcc66; border:1px solid #cc9900; color:#333; padding:5px; width:350px; text-align:center; margin:auto;}

div.help-content {background:#ffcc66; border:1px solid #cc9900; color:#333; font-size:10px; padding:5px 25px 5px 25px; text-align: justify; position: relative;}
div.help-content a {font-size:10px;}
div.help-content img {margin:-2px 0 0 -20px;  width: 17px; height: 17px;}
div.help-content p.text {float:left; margin: 0 0 0 10px;}
div.help-content .close {float: right; margin: -6px -26px 0 0; font-weight: bold; background: transparent; border:1px solid #333; color:#333; background: #cc9900; -webkit-box-shadow: none; -moz-box-box-shadow: none; box-shadow: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
div.help-content .close:hover {text-decoration: none; background: #333; color: #fff;}

table.appercuFact, table.appercuFact2, table.appercuFact3 {margin:auto; width:950px; color:#fff;}
.appercuFact {background:#ffcc66; border:1px solid #cc9900; color:#333;}
table.appercuFact2 {background:#FF3333; border:1px solid #660000;}
table.appercuFact3 {background:#009900; border:1px solid #003300;}
table.appercuFact tr, table.appercuFact2 tr, table.appercuFact3 tr {}
table.appercuFact tr td, table.appercuFact2 tr td, table.appercuFact3 tr td {padding:5px 10px;}
table.appercuFact tr td.last, table.appercuFact2 tr td.last, table.appercuFact3 tr td.last {border-right:1px solid;}


table.nouveau-message {width:80%; border:1px solid #999;}
table.nouveau-message tr td .btn-pieces-jointes {font-weight: bold;}
table.nouveau-message tr td .btn-pieces-jointes:hover {text-decoration: underline;}
table.nouveau-message tr td #uploadifive-file_upload {margin: 5px 0 0 0; padding:5px; cursor:pointer;}
table.nouveau-message tr td .queue_files a {padding:0;}
table.nouveau-message tr td .queue_files .uploadifive-queue-item {border:1px solid #e3e3e3; height:25px; float:left; padding:5px; margin: 0; width:auto;}
table.nouveau-message tr td .queue_files .uploadifive-queue-item .close {width:2px; height:5px; border:0; float:right; -webkit-box-shadow: none; -moz-box-box-shadow: none; box-shadow: none;}
table.nouveau-message tr td .queue_files .uploadifive-queue-item div {float:right; margin-right:5px;}
table.nouveau-message tr td .queue_files .uploadifive-queue-item div .fileinfo {color: red;}
table.nouveau-message tr td .queue_files .uploadifive-queue-item .progress {float:left;}
table.nouveau-message td {padding:10px; vertical-align:top;}
table.nouveau-message td.bold {width: 130px; line-height:20px; }
table.nouveau-message input[type=text] {width:99%;}
table.nouveau-message #destinataires-content {clear:both; margin-top:35px; width:99%; min-height:24px; background: #fff; border: 1px solid #e3e3e3; -moz-box-shadow: 0 0 5px #e3e3e3; -webkit-box-shadow: 0 0 5px #e3e3e3; box-shadow: 0 0 5px #e3e3e3; padding: 2px 2px 0 2px;}
table.nouveau-message #destinataires .element {float:left; background: #e3e3e3; padding:2px 5px; height:20px; margin: 0 2px 2px 0;}
table.nouveau-message #destinataires .element span {float:left; padding-right: 10px;}
table.nouveau-message #destinataires .element a {text-decoration:none; float:right; margin:-2px -5px 0 0; background:#333; color:#fff; display:block; width:10px; line-height:6px; height: 10px; padding:1px; text-align:center;}
table.nouveau-message textarea {width:100%; height:400px;}
table.nouveau-message table td {border:0;}

ul.configuration_emails {}
ul.configuration_emails li {margin:9px 0 0 0; list-style: none;}
ul.configuration_emails table {margin:9px 0 0 25px;}

div.alert-msg {font-size:14px; padding: 10px; width:600px; margin:10px 0; background:#ffcc66; border:1px solid #cc9900; color:#333;}
div.alert-msg .titre {font-size:14px; margin: 0 0 5px 0;}

.hidden-field { 
    background:none;
	border: 0;
	padding:0;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	width:0px;
	height:0px;
	position:absolute;
	margin-left:-70px;
	z-index:-10;
}

table.coordonnee_banc {border-collapse: collapse;}
table.coordonnee_banc td {border: 1px solid #e3e3e3; padding:5px 10px; text-align:center;}

table.espacement tr td {padding: 15px 5px;}
table.espacement tr td.italic {padding: 15px 5px 15px 40px;}

table.commandes td:not(.actions) a {display:block; width:100%; height:100%; text-decoration: none;}

table.maj_abonnement {border:1px solid #333;}
table.maj_abonnement td {padding:10px 10px; color:#e3E3e3;}
table.maj_abonnement td input, table.maj_abonnement td label {margin-top:10px;}
table.maj_abonnement tr.selected td, table.maj_abonnement td.nom_forfait {color:#000;} 
table.maj_abonnement tr.titres td {color:#FFF;}

ul#aide-en-ligne {margin-top:30px; width:600px; float:left;}
ul#aide-en-ligne li {padding:5px 10px; font-weight:bold; font-size:14px;}
ul#aide-en-ligne a { font-weight: normal;}
ul#aide-en-ligne ul {margin-bottom: 15px; margin-left:20px;}
ul#aide-en-ligne ul li {list-style: disc;}

table.annual-reports {margin:5px 0 0 -1px; float:left; width: 160px; text-align:center;}
table.annual-reports td {border-right:1px solid #999; border-bottom:1px solid #999; padding:3px 60px 3px 3px; text-align:right;}
table.annual-reports tr:not(.titres) td:not(.blank) {background: #fff;}
table.annual-reports tr.titres td, table.annual-reports td.titres {padding:3px; text-align:center;}


table.dashboard-mini {border:1px solid #999; width:47%;}
table.dashboard-mini tr {height:25px;}
table.dashboard-mini tr.class1 td {background:#e8e9ea;}
table.dashboard-mini tr td {padding:2px 7px 2px 7px;}

ul.menu_relances_paiements {border: 1px solid #999;}
ul.menu_relances_paiements li {float:left; border-right: 1px solid #999; background: #fff;}
ul.menu_relances_paiements li:last-child {border-right: 0;}
ul.menu_relances_paiements li a {padding: 5px 10px; display: block;}
ul.menu_relances_paiements li a:hover {text-decoration: none; background: #333; color:#fff;}
ul.menu_relances_paiements li a.selected {background:url(../../../img/menu_secondaire.png); background-position:center; text-decoration:none; color:#fff;}
div#attente_paiement, div#factures_recouvrement {display:none;}

.details-sous-configuration td {padding: 5px 10px;}

.show-code-integrate-email {}
table.new_user tr:last-child .show-code-integrate-email td, .new_user .show-code-integrate-email tr td {padding:5px;}
.show-code-integrate-email .separate {width:30px; padding:0;}

/* PAGE D'ACCUEIL */

.home-page {}
.home-page #footer {position: absolute; bottom: 0; width: 100%; padding: 0; margin:0;}
.home-page #footer #footer-content {margin-right: 20px;}
.home-page .message-error {padding: 20px 30px; margin-top: 30px;}
.home-page .confirm_connect {padding: 20px 20px 10px 20px; border: 1px solid #999;}
.home-page .confirm_connect tr td {padding: 5px 10px;}
.home-page .confirm_connect tr:first-child td {padding-bottom: 20px;}
.home-block {padding: 20px 20px; width: 500px; margin: 30px auto 0 auto;}
.home-block .logo {margin:10px}
table.home-connect {padding: 30px 20px 20px 20px; border: 1px solid #999;}
table.home-connect tr td {padding: 5px 10px;}
table.home-connect tr td table {margin-top: 20px;}
table.home-connect tr td table tr td {padding:0;}
table.home-connect tr td table tr td img {width:160px; height:60px;}
table.home-connect tr td table tr td:last-child {line-height:30px; padding-left:20px;}
table.home-connect tr td label {display: inline-block; width: 110px;}
table.home-connect tr td input[type=text], .home-connect tr td input[type=password] {width: 190px;}
table.home-connect tr.actions td {padding-top: 30px;}
table.home-connect tr td.error {padding-top:0;}

.graph_home {width: 74%; height:235px; float: left; border:1px solid #999;}
.home-recap-chiffres {border:1px solid #999; color:#fff; float:right; width: 25%; height: 76px; margin: 2px 0; background: url(../img/bg-chiffres.png);}
.home-recap-chiffres tr td.titre {font-size:14px; font-weight: bold; color:#fff; padding: 5px 10px 0 10px;}
.home-recap-chiffres tr td.total {font-size:20px; text-align: right; padding: 5px 10px 5px 10px; font-weight: bold;}
.home-recap-chiffres tr td.total .details {font-size:11px; font-weight: normal;}
.home-recap-chiffres .green {color: #4acf2b;}

.new-fonctions {width: 100%; border:1px solid #999;}
.new-fonctions .cmd-home {float: right; margin:-28px 5px 0 0;}
.new-fonctions .cmd-home td {padding:0;}
.new-fonctions .cmd-home a {padding:5px 7px; font-weight: bold; display:block; background: #666; color:#fff; border:1px solid #999;}
.new-fonctions .cmd-home a:hover {text-decoration: none; background: #999; color: #000;}
.new-fonctions .cmd-home a.no_select, .new-fonctions .cmd-home a.no_select:hover {background: #ccc; color:#999; border: 1px solid #ccc; cursor: default;}
.new-fonctions table:not(.cmd-home) {float:left; border-right: 1px solid #e3e3e3; margin: 15px 0 15px 1.33%; width:32%; height: 150px;}
.new-fonctions table tr td {}
.new-fonctions table tr td.pictos {padding: 0 10px 0 0; width: 70px; text-align: center;}
.new-fonctions table tr td.titre {font-weight: bold; color: #4c4b4b; font-size:13px; padding: 5px 15px 0 5px; height: 45px; vertical-align: top;}
.new-fonctions table tr td.content {padding: 10px 25px 0 10px; color: #666; text-align: justify; vertical-align:top; height: 60px;}
.new-fonctions table tr td a.link {padding:1px 8px; border:1px solid #999; background: #ccc; font-size:11px; color: #333; margin:20px 20px 0 0;}
.new-fonctions table tr td a.link:hover {text-decoration: none; background: #333; color: #fff;}
@media all and (max-width:1200px) {
	.new-fonctions table tr td.titre {font-weight: bold; color: #4c4b4b; font-size:12px; padding: 0 15px 0 5px; height: 45px; vertical-align: top;}
	.new-fonctions table tr td.pictos {padding: 0 10px 0 0; width: 40px; text-align: center;}
	.new-fonctions table tr td.pictos img {width:30px;}
	.new-fonctions table tr td.content {height: 80px;}
}

.tabs-home {width: 47%;}
.tabs-home .ui-tabs .ui-tabs-panel {padding:5px 2px;}
.tabs-home div div {height: 420px;}
#tabs-home1:after, #tabs-home2:after {content: " "; position: absolute; width: 95%; height: 30px; z-index: -10; bottom: 9px; right: 3px; transform: rotate(1deg); box-shadow: -7px 10px 10px #333;}

.tabs-home div div {overflow: auto;}
.tabs-home div div table:last-child {border:0;}

.recap-home {width: 100%; table-layout: fixed;}
.recap-home tr td {border-right: 1px solid #e3e3e3; padding: 4px 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.recap-home tr.titres td {background: none; color: #666; border-bottom: 1px solid #666; border-right:0;}
.recap-home tr td table {width: 100%;}
.recap-home tr td table td {border:0; padding:0;}

#last-alertes .overflow {overflow: auto; height: 180px; width: 100%;}
#last-alertes .alerte-date {background: url(../img/bg-alertes.png); width: 48px; height: 38px; text-align:center; color:#FFF; padding-top: 17px; font-size: 14px;}
#last-alertes .alerte-date2 {background: url(../img/bg-alertes2.png); width: 48px; height: 38px; text-align:center; color:#FFF; padding-top: 17px; font-size: 14px;}
#last-alertes .pictos-alertes {float: right; margin-right:10px; text-align:right;}
#last-alertes .pictos-alertes a {display: block; margin-bottom:5px;}
#last-alertes table {width: 100%; table-layout: fixed;}
#last-alertes table tr.gris {opacity : 0.5; -moz-opacity : 0.5;}
#last-alertes table tr.gris:hover {opacity : 1.0; -moz-opacity : 1.0;}
#last-alertes table td {padding:4px 5px 4px 15px; border-bottom: 1px solid #e3e3e3; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; vertical-align:top;}
#last-alertes table td.actions {padding: 3px; border-left: 1px solid #e3e3e3; text-align: center; vertical-align: middle; width:30px;}
#last-alertes table td.actions a {display: block; margin-bottom: 2px; opacity : 0.5; -moz-opacity : 0.5;}
#last-alertes table tr:hover td.actions a {opacity : 1.0; -moz-opacity : 1.0;}

#last-historique tr.noborder td {border-bottom: 0;}
#last-historique tr td {padding: 5px;}

@media all and (max-width:1200px) {
	.graph_home {width: 100%; float: none; margin: auto; height: 200px;}
	.home-recap-chiffres {float: left; width: 33%; margin-left: 0.5%; margin-top:4px;}
	.home-recap-chiffres-first {margin-left:0;}
	#last-alertes .pictos-alertes {margin-right:0px;}
	#last-alertes table td {padding:4px 5px 4px 5px;}
}


/* COMPTABILITE */
.class1.class-rond-vert td:last-child {background: url(../img/rond_vert.png) #ffffff; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class2.class-rond-vert td:last-child {background: url(../img/rond_vert.png) #e3e3e3; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class1.class-rond-vert:hover td:last-child, .class2.class-rond-vert:hover td:last-child {background: url(../img/rond_vert.png) #999999 !important; background-repeat: no-repeat !important; background-position: right center !important;}

.class1.class-rond-gris td:last-child {background: url(../img/rond_gris.png) #ffffff; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class2.class-rond-gris td:last-child {background: url(../img/rond_gris.png) #e3e3e3; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class1.class-rond-gris:hover td:last-child, .class2.class-rond-gris:hover td:last-child {background: url(../img/rond_gris.png) #999999 !important; background-repeat: no-repeat !important; background-position: right center !important;}

.class1.class-rond-rouge td:last-child {background: url(../img/rond_rouge.png) #ffffff; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class2.class-rond-rouge td:last-child {background: url(../img/rond_rouge.png) #e3e3e3; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class1.class-rond-rouge:hover td:last-child, .class2.class-rond-rouge:hover td:last-child {background: url(../img/rond_rouge.png) #999999 !important; background-repeat: no-repeat !important; background-position: right center !important;}

.class1.class-rond-noir td:last-child {background: url(../img/rond_noir.png) #ffffff; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class2.class-rond-noir td:last-child {background: url(../img/rond_noir.png) #e3e3e3; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class1.class-rond-noir:hover td:last-child, .class2.class-rond-noir:hover td:last-child {background: url(../img/rond_noir.png) #999999 !important; background-repeat: no-repeat !important; background-position: right center !important;}

.class1.class-rond-jaune td:last-child {background: url(../img/rond_jaune.png) #ffffff; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class2.class-rond-jaune td:last-child {background: url(../img/rond_jaune.png) #e3e3e3; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class1.class-rond-jaune:hover td:last-child, .class2.class-rond-jaune:hover td:last-child {background: url(../img/rond_jaune.png) #999999 !important; background-repeat: no-repeat !important; background-position: right center !important;}

.class1.class-rond-bleu td:last-child {background: url(../img/rond_bleu.png) #ffffff; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class2.class-rond-bleu td:last-child {background: url(../img/rond_bleu.png) #e3e3e3; background-repeat: no-repeat; background-position: right center; padding-right:25px;}
.class1.class-rond-bleu:hover td:last-child, .class2.class-rond-bleu:hover td:last-child {background: url(../img/rond_bleu.png) #999999 !important; background-repeat: no-repeat !important; background-position: right center !important;}

.legend-table {border:1px solid #999; padding: 5px 10px; font-size:11px; margin:auto;}

table.add-products {margin: 0 0 10px 0;}
table.add-products {border: 1px solid #999;}
table.add-products td {padding: 5px 10px;}
table.add-products tr.titres td {padding: 5px 10px; height: 17px;}
@media all and (max-width:1220px) {
	table.add-products {width: 740px;}
	table.add-products .addBtn3 {width: 70px;}
	table.add-products .addBtn2 {margin: 5px 0 0 0;}
	table.add-products .popup_produit {width: 110px;}
	table.add-products .addBtn3 img, table.add-products .popup_produit img {margin-top: 5px;}
}

table.infos-couts {width:260px; background:#ffcc66; border:1px solid #cc9900; color:#333;}
table.infos-totaux {background: url(../img/bg-chiffres.png); border:1px solid #000; color:#fff;}
table.infos-couts tr td, table.infos-totaux tr td {padding:5px;}

.infos-pieces {border:1px solid #999; margin: 5px 0; background: url(../img/bg-chiffres.png); color:#fff; font-weight: bold;}
.infos-pieces tr td.titre {padding: 5px 5px 5px 10px;}
.infos-pieces tr td.total {text-align: right; padding: 5px 10px 5px 10px;}
.infos-pieces .green {color: #4acf2b;}

div.sous_menu_piece {width: 200px; padding-top: 10px; border:1px solid #999;}
div.sous_menu_piece a {margin-bottom:10px; width: 120px;}

div.infos_piece {padding: 10px 0 10px 5px; border:1px solid #999;}
div.infos_piece table.infos a {text-decoration: underline; }
div.infos_piece table.infos a:hover {text-decoration: none;}
div.infos_piece table.infos {float: left; width: 70%;}
div.infos_piece table.infos1 {padding-right:20px; border-right: 1px solid #e3e3e3;}
div.infos_piece table tr td {vertical-align:top; padding:5px 10px;}
div.infos_piece table.infos1 td {padding:5px 10px 5px 0;}
div.infos_piece table table td {padding:2px 0;}
div.infos_piece table tr.noborder td {border:0;}
div.infos_piece ul.sous_menu li:hover ul {padding-top:26px;}
table.recap-tva {border:1px solid #333; font-size:11px; float: left;}
table.recap-tva tr td {padding:5px; border-left: 1px solid #999; border-bottom: 1px solid #e3e3e3;}
table.recap-tva tr.titre td {background:#333; color:#fff; padding:5px;}
table.recap-tva tr.sous-titre {background: #e3e3e3;}
table.recap-tva tr.sous-titre td {border-bottom: 1px solid #999; padding:2px 5px; border-left: 1px solid #999;}

.tbord-pieces {float: right; width: 25%; padding: 0 10px;}
.tbord-pieces .home-recap-chiffres {width: 100%; margin-top: 10px; background: url(../img/bg-chiffres.png); height: auto; border:1px solid #333;}
.tbord-pieces .home-recap-chiffres tr td.titre {font-size:14px; padding: 5px 10px 0 10px;}
.tbord-pieces .home-recap-chiffres tr td.total {font-size:16px; padding: 5px 10px 5px 10px;}

div.infos_piece .part2 {clear:both; border-right: 1px solid #e3e3e3; margin-right: 20px; padding-top:20px; width: 69.89%;}
.part2 .infos-pieces {float:left; margin: 0 20px 10px 0;}

@media all and (max-width:1067px) {
	table.recap-tva tr td.adapt {display: none;}
}
@media all and (min-width:1200px) {
	table.recap-tva tr td.adapt {display: none;}
	div.infos_piece table.infos {width: 40%; margin-right: 20px;}
	div.infos_piece .part2 {float: left; border:0; margin:0; width: 35%; clear:none;}
	.tbord-pieces {float: right; width: 17%; border-left: 1px solid #e3e3e3; padding-left: 20px;}
}
@media all and (min-width:1300px) {
	table.recap-tva tr td.adapt {display: block;}
}


table.etat-piece {border:1px solid #ccc; color: #FFF; position:relative; -webkit-box-shadow: 0px 1px 10px #999; -moz-box-box-shadow: 0px 1px 10px #999; box-shadow: 0px 1px 10px #999; float: right; margin-top:-5px;}
table.etat-piece td {padding: 5px 7px; width:50px; height:30px; text-align:center; font-size:11px; background: url(../img/bg-chiffres.png);}
table.etat-piece td.selected {background: url(../img/bg-menu-active.png);}
table.etat-piece td.separator {background: url(../img/selector1.png); padding:0; width: 16px;}
table.etat-piece td.separator2 {background: url(../img/selector2.png);}
table.etat-piece td.separator3 {background: url(../img/selector3.png);}
table.etat-piece td.long-etat {width: 75px;}

.apercu-pdf {width:740px; margin:auto;}
.apercu-pdf .small-titre {margin: 0 0 20px 20px;}
.apercu-pdf iframe {width:740px; height: 995px;}

@media all and (min-width:1150px) {
	.apercu-pdf {width:940px; margin:auto;}
	.apercu-pdf .small-titre {margin-left:75px;}
	.apercu-pdf iframe {width:940px; height: 1130px;}
}

table.new_achat {border: 1px solid #999; padding: 10px;}
table.new_achat tr td {padding:5px 10px;}
table.choix_paiement {border:1px solid #999; padding:5px 10px; width:510px; font-size:12px; background:#ccc; color:gray;}
table.paiement_selected {background:#ffcc66; border:1px solid #cc9900; color:#333;}
table.choix_paiement tr td, table.paiement_selected tr td {padding:5px;}
table.choix_paiement tr td label, table.paiement_selected tr td label { padding-left:10px; font-size:10px;}


a.formatico {float:left; margin-left: 5px;}
ul.sous_menu li a.ico1 {
	margin-top: 6px;
	padding:0; background:none;
	border:0; box-shadow:none;
    -moz-border-radius:0; 
    -webkit-border-radius:0; 
    border-radius:0;
}
ul.menu_relances {margin-top: -10px; margin-left:-105px; text-align:right;}
a.ico2 {margin-top: 2px;}

ul.sous-menu-fiche {}
ul.sous-menu-fiche li {float:left;}

.infos-achats {height: 215px; padding: 10px; width: 34%; border: 1px solid #999; margin-right:4%;}
div#elements_achats {float: left; width:60%; height:230px;}
div#elements_achats div div {height:180px;}
.achats-liste li {max-width: 750px;}
.achats-liste table tr td {padding: 5px;}
.achats-liste table tr:not(.titre_edit_piece) td {border: 1px solid #e3e3e3; border-right: 0;}
.achats-liste table tr:not(.titre_edit_piece) td:last-child {border-right: 1px solid #e3e3e3;}
.achats-liste table tr:first-child td, .achats-liste table tr:first-child td:last-child {border:0;}

@media all and (max-width:1400px) {
	.infos-achats {display: none;}
	div#elements_achats {width: 100%;}
}

#queue {clear: both; border:1px solid #e3e3e3; min-height: 117px; height: auto; overflow:auto; margin-bottom: 10px; padding: 0 3px 3px; width: 400px; margin-top:20px;}

.versions {margin:5px 0 0 0; background: #fff; padding: 20px 20px 5px 20px;}
.versions li {font-weight: bold;}
.versions li ul {margin: 5px 0 20px 20px;}
.versions li ul li {list-style: disc; font-weight: normal;}
.versions {}

.plugin-list {width: 300px; height: 130px; border: 1px solid #999; margin: 0 40px 40px 0;}

.relances-commerciales {float: left; margin: 10px 40px 0 0; width: 170px;}
.relances-commerciales td {padding: 3px 5px;}
.relances-commerciales td select, .relances-commerciales td input[type=text] {margin-top:4px;}
.relances-commerciales td select {width: 160px;}
.relances-commerciales-2 {border: 1px solid #e3e3e3;  float:left; margin: 15px 30px 0 0;}
.relances-commerciales-2 select, .relances-commerciales-2 input[type=text] {margin-right:5px;}
.relances-commerciales-3 {float: left; margin: 27px 0 0 0;}


.relance-com {table-layout: fixed;}
.relance-com td {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.relance-com tr.titres td {padding:0 !important;}
.relance-com tr.titres td a {display:block; height: 21px; padding:4px 20px 0 5px; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.relance-com tr.titres td a:hover {text-decoration: none;}
.relance-com tr.titres .orderby a, .relance-com tr.titres .orderbydesc a {
	background: url(../lib/jquery/tableSQL/img/order.png) #666;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.relance-com tr.titres .orderbydesc a {background-position: right top;}
.relance-com tr.titres a:hover {
	background: url(../lib/jquery/tableSQL/img/order.png);
	background-repeat: no-repeat;
	background-position: right;
}

.premiers-pas-controls a {padding: 3px 7px; display:block; border:1px solid #666; height:20px; background: #666; font-weight: bold; color:#fff;}
.premiers-pas-controls a:hover {background: #333; text-decoration: none;}
.premiers-pas-controls a.noselect, .premiers-pas-controls a.noselect:hover {background: #e3e3e3; border: 1px solid #999; color: #999; cursor: default;}
.premiers-pas-listing-fonctionnalites {margin-left:20px;}
.premiers-pas-listing-fonctionnalites li {float:left; height:130px; width:240px;}
.premiers-pas-listing-fonctionnalites li.first { width:720px; height: 65px; line-height: 22px;}
.premiers-pas-listing-fonctionnalites li table {padding: 10px; width: 220px; border:1px solid #ccc; background:#fff; -moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc; box-shadow: 0 0 5px #ccc; border-radius: 10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.premiers-pas-listing-fonctionnalites li .img {width:75px;}
.premiers-pas-listing-fonctionnalites li .bold {height:35px; vertical-align:top; text-align:center;}
.premiers-pas-infos-societe {width:640px; margin:auto;}
.premiers-pas-infos-societe table {width:640px;}
.premiers-pas-infos-societe table td:first-child {padding-left:15px; width: 150px;}
.premiers-pas-infos-societe table td input[type=text] {width: 400px;}
.premiers-pas-infos-societe table.table-tva td:first-child {width: 200px;}
.premiers-pas-liste-etapes1 {float:left}
.premiers-pas-liste-etapes2 {margin:auto; width: 200px;}
.premiers-pas-liste-etapes3 {float:right}

table.abonnement {font-size:12px; border:1px solid #999; text-align: center;}
table.abonnement tr.class1 {}
table.abonnement tr.class2 {background:#e3e3e3;}
table.abonnement tr td {padding:5px; border-top: 1px solid #a3a3a3; border-left: 1px solid #a3a3a3;}
table.abonnement tr td.titres {border-top: 1px solid #a3a3a3; background: #333333 url(../../../img/ui-bg_highlight-hard_8_333333_1x100.png) 50% 50% repeat-x; color: #eeeeee; font-weight: bold; padding-right:30px; text-align: left;}
table.abonnement tr td table.price {border: 1px solid #e3e3e3;}
table.abonnement tr td table.price tr td {padding: 5px 10px; border: 0; border-left: 1px solid #a3a3a3;}
table.abonnement tr td table.price tr td.first {border-left: 0;}
table.infos-totaux-abonnement {font-size:12px; background:#333; border:1px solid #000; color:#fff;}
table.infos-totaux-abonnement tr td {padding:5px; border-bottom:1px solid #999;}
table.infos-totaux-abonnement tr td.right {color:#000; padding-left:40px; border-bottom:1px solid #333;}

.browser_recommande {text-align: justify; font-size:11px; width: 300px; padding: 10px; position: absolute; bottom:5px; left: 5px; color: #e3e3e3; border:1px solid #999; background: url(../img/bg-menu.png); -moz-box-shadow: 0 0 10px #999; -webkit-box-shadow: 0 0 10px #999; box-shadow: 0 0 10px #999;}
.browser_recommande img {margin: 10px 10px 0 10px;}
.browser_update {text-align: justify; font-size:11px; width: 300px; padding: 10px; position: absolute; bottom:5px; left: 5px; color: #e3e3e3; border:1px solid #999; background: url(../img/bg-alert.png); -moz-box-shadow: 0 0 10px #999; -webkit-box-shadow: 0 0 10px #999; box-shadow: 0 0 10px #999;}

.social-block {
	position: absolute;
	left: 70px;
	top:196px;
	margin-top: -150px;
	width: 29px;
}
.social-block a {display:block; height: 41px; width: 28px; margin: 5px 0; background-position: right !important;}
.social-block a:hover {width: 42px;}
.social-block .facebook {background: url(../images/social/Facebook.png);}
.social-block .twitter {background: url(../social/Twitter.png);}
.social-block .google-plus {background: url(../social/Google-Plus.png);}

.new-event-form {width: 310px; border: 1px solid #333; position: absolute; z-index: 999; background: #fff; margin: -35px 0 0 -40px; display:none;}
.new-event-form tr.titres td {padding: 5px 10px;}
.new-event-form td {padding: 10px; vertical-align: top;}
.new-event-form td:last-child {padding-left: 0;}
.new-event-form input[type=text] {width: 180px;}
.new-event-form table {width: 90%; margin: auto;}
.new-event-form table td {padding:0;}
.new-event-form table td a {padding:5px 10px;}
.new-event-form table td:first-child a {float:left;}
.new-event-form table td:last-child a {float:right}

.add-calendar {display:block; float: right; padding:0 5px; margin:-4px 5px 0 0; font-weight: bold; font-size:16px; color:#fff !important; border:1px solid #e3e3e3 !important; background: transparent !important; height: auto !important; width: auto !important;}
.add-calendar:hover {color:#333 !important; background:#ccc !important;}
.menu-calendar {min-height: 580px;}
.menu-calendar .menu-img {width:15px !important; height:15px !important; display: block; margin-top: 12px !important; -khtml-opacity:1.0; -moz-opacity : 1.0; opacity : 1.0 !important;}
.menu-calendar .adapt {width: 130px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.menu-calendar .calendar-actions {margin: -30px 5px 0 0; float:right; background: none !important; display: none;}
.menu-calendar li:hover .calendar-actions {display:block;}
.menu-calendar .calendar-actions a {height: auto !important; width: auto !important; border: 1px solid #999 !important; padding:0 2px; background: #e3e3e3 !important;}
.menu-calendar .calendar-actions:hover  a, .menu-calendar .calendar-actions a:hover {background: #333333 !important; color: #ffffff !important;}
.menu-calendar .calendar-actions li ul {display: none; position:absolute; margin: -18px 0 0 15px;}
.menu-calendar .calendar-actions li:hover ul {display:block;}
.menu-calendar .calendar-actions li ul li a {padding: 4px 10px; border: 1px solid #ccc;}
.menu-calendar .calendar-actions li ul li a:hover {background:#e3e3e3 !important; color: #333 !important; border: 1px solid #ccc;}

.select_calendar_color1 {background: #ac725e; border: 1px solid #ac725e; color: #1d1d1d;}
.select_calendar_color2 {background: #d06b64; border: 1px solid #d06b64; color: #1d1d1d;}
.select_calendar_color3 {background: #f83a22; border: 1px solid #f83a22; color: #1d1d1d;}
.select_calendar_color4 {background: #fa573c; border: 1px solid #fa573c; color: #1d1d1d;}
.select_calendar_color5 {background: #ff7537; border: 1px solid #ff7537; color: #1d1d1d;}
.select_calendar_color6 {background: #ffad46; border: 1px solid #ffad46; color: #1d1d1d;}
.select_calendar_color7 {background: #42d692; border: 1px solid #42d692; color: #1d1d1d;}
.select_calendar_color8 {background: #16a765; border: 1px solid #16a765; color: #1d1d1d;}
.select_calendar_color9 {background: #7bd148; border: 1px solid #7bd148; color: #1d1d1d;}
.select_calendar_color10 {background: #b3dc6c; border: 1px solid #b3dc6c; color: #1d1d1d;}
.select_calendar_color11 {background: #fbe983; border: 1px solid #fbe983; color: #1d1d1d;}
.select_calendar_color12 {background: #fad165; border: 1px solid #fad165; color: #1d1d1d;}
.select_calendar_color13 {background: #92e1c0; border: 1px solid #92e1c0; color: #1d1d1d;}
.select_calendar_color14 {background: #9fe1e7; border: 1px solid #9fe1e7; color: #1d1d1d;}
.select_calendar_color15 {background: #9fc6e7; border: 1px solid #9fc6e7; color: #1d1d1d;}
.select_calendar_color16 {background: #4986e7; border: 1px solid #4986e7; color: #1d1d1d;}
.select_calendar_color17 {background: #9a9cff; border: 1px solid #9a9cff; color: #1d1d1d;}
.select_calendar_color18 {background: #b99aff; border: 1px solid #b99aff; color: #1d1d1d;}
.select_calendar_color19 {background: #c2c2c2; border: 1px solid #c2c2c2; color: #1d1d1d;}
.select_calendar_color20 {background: #cabdbf; border: 1px solid #cabdbf; color: #1d1d1d;}
.select_calendar_color21 {background: #cca6ac; border: 1px solid #cca6ac; color: #1d1d1d;}
.select_calendar_color22 {background: #f691b2; border: 1px solid #f691b2; color: #1d1d1d;}
.select_calendar_color23 {background: #cd74e6; border: 1px solid #cd74e6; color: #1d1d1d;}
.select_calendar_color24 {background: #a47ae2; border: 1px solid #a47ae2; color: #1d1d1d;}
.hidden_calendar {background: transparent !important;}

#event-content {position: absolute; display: none; z-index:25; background: #FFF; border:2px solid #666; -moz-box-shadow: 0 0 5px #333; -webkit-box-shadow: 0 0 5px #333; box-shadow: 0 0 5px #333; border-radius: 10px; -moz-border-radius:10px; -webkit-border-radius:10px; padding: 10px;}
#event-content table {margin-top: 10px;}
#event-content table td {padding: 5px; vertical-align: top;}
#event-content input[type=text] {width: 300px;}
#event-content textarea {width: 300px; height:50px;}
#event-loader {margin:auto; width:16px; position: absolute; height:16px; left:50%; margin-left:-8px;}
.close_event {position: absolute; right: -15px; top:-15px; display:block; background:url(../lib/shadowbox/fancybox.png) -40px 0px; width: 30px; height: 30px;}

.list-event-color input {float: left; margin-right:7px;}
.list-event-color .select_event_color {display:block; height: 20px; width: 20px; float: left; margin-left:-22px; border: 2px solid #ffffff; cursor: pointer;}
.list-event-color .selected {border: 2px solid #000;}
.select_event_color1 {background: #a4bdfc; border: 1px solid #a4bdfc; color: #1d1d1d;}
.select_event_color2 {background: #7ae7bf; border: 1px solid #7ae7bf; color: #1d1d1d;}
.select_event_color3 {background: #dbadff; border: 1px solid #dbadff; color: #1d1d1d;}
.select_event_color4 {background: #ff887c; border: 1px solid #ff887c; color: #1d1d1d;}
.select_event_color5 {background: #fbd75b; border: 1px solid #fbd75b; color: #1d1d1d;}
.select_event_color6 {background: #ffb878; border: 1px solid #ffb878; color: #1d1d1d;}
.select_event_color7 {background: #46d6db; border: 1px solid #46d6db; color: #1d1d1d;}
.select_event_color8 {background: #e1e1e1; border: 1px solid #e1e1e1; color: #1d1d1d;}
.select_event_color9 {background: #5484ed; border: 1px solid #5484ed; color: #1d1d1d;}
.select_event_color10 {background: #51b749; border: 1px solid #51b749; color: #1d1d1d;}
.select_event_color11 {background: #dc2127; border: 1px solid #dc2127; color: #1d1d1d;}
.select_color_separate {float: left; border-left: 1px solid #999; height: 24px; margin-left: 5px;}

#google-apps-contacts-update, #google-apps-taches-update {text-align: center; padding: 0 0 20px 0; color: #666; display: none;}
#google-apps-contacts-update table, #google-apps-taches-update table {margin: auto;}

.help-btn {position: absolute; right:0; top: 220px; z-index: 99;}
.help-btn a {display:block; cursor: pointer; width: 30px; height: 30px; background: url(../img/bg-menu.png); border: 2px solid #fff; border-right:0; color:#fff; -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; -moz-border-radius-bottomleft:10px; -webkit-border-bottom-left-radius:10px; border-bottom-left-radius:10px;}
.help-btn a:hover {text-decoration: none; width:auto;}
.help-btn .help-picto {margin: 0px 10px 0 8px; font-weight: bold; font-size: 22px; float:left;}
.help-btn .help-titre {display: none; float:left; margin: 6px 5px 0 0;}
.help-btn a:hover .help-titre {display: block;}

#help-content {display: none; position: fixed; left:5%; top: 5%; z-index: 99; width: 90%; height: 90%; background: #fff; border:2px solid #333; border-radius: 10px; -moz-border-radius:10px; -webkit-border-radius:10px; -webkit-box-shadow: 0px 1px 12px #666666; -moz-box-box-shadow: 0px 1px 12px #666666; box-shadow: 0px 1px 12px #666666;}
#help-content .btn-close {right: -15px; top: -15px;}
#help-content .loader {position: absolute; left:50%; margin-left:-27px; top:50%; margin-top:-27px;}
#help-content .left-content {float:left; width:69.7%; overflow-y: scroll;}
#help-content .right-content {float:right; width:30%; height: 100%; border:1px solid #000; overflow-y: auto; background: url(../img/bg-menu.png);  -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px; -moz-border-radius-bottomright:10px; -webkit-border-bottom-right-radius:10px; border-bottom-right-radius:10px;}
#help-content .left-content .titre, #help-content .right-content .titre {text-align: center; color: #fff; margin: 10px 0 30px 0;}
#help-content .left-content .titre {color: #333;}
#help-content .right-content ul {width: 90%; margin:auto; color:#fff; overflow-y: auto;}
#help-content .right-content ul li {margin: 0 0 10px 15px;}
#help-content .right-content a {color: #fff;}
#help-content .left-content .content {padding: 0 20px;}
#help-content .left-content .sous-titre {font-weight: bold; font-size: 15px; color: #990000; margin-bottom: 5px;}
#help-content .left-content .sous-titre-b {font-weight: bold; font-size: 14px; color: #333333;}
#help-content .left-content .content p, #help-content .left-content .content table {margin: 10px 0;}
#help-content .left-content table.full-border td {border-right: 1px solid #e3e3e3; padding: 2px 30px;}
#help-content .left-content table.full-border td:last-child {}
#help-content .left-content table.full-border td:first-child {padding: 2px 45px 2px 0;}
#help-content .left-content table.full-border td.noborder {border:0;}
#help-content .left-content hr {color: #e3e3e3; border-color: #e3e3e3; background: #e3e3e3; border:0; height:1px; width: 90%; margin: 20px auto;}
#help-content .left-content table td:last-child img {margin-left: 10px;}

#help-content .right-content .contact_form {height: 250px; width: 85%; margin:auto; color: #fff; border-top: 1px solid #999999; padding-top: 15px;}
#help-content .right-content .contact_form .titre {text-align:center; font-weight: bold; font-size: 16px; padding-bottom: 15px;}
#help-content .right-content .contact_form td {padding: 5px 0;}
#help-content .right-content .contact_form select {width: 100%;}
#help-content .right-content .contact_form textarea {width: 100%; height: 90px;}
#help-content .right-content .contact_form .send_help_form {color: #333; border:0; padding: 3px 10px; cursor: pointer; background: #fff; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#help-content .right-content .contact_form .send_help_form:hover {background: #e3e3e3; color: #000; text-decoration: none;}

.contact_telephonique {margin: auto; width:90%;}
.contact_telephonique td {padding: 5px 10px;}
