<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">  
    <h:head>
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <link rel="stylesheet" href="./css/jquery-ui.min.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="./css/themes/blitzer/jquery-ui.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="./css/styles.css" type="text/css" media="all"/>
        <title>Se connecter à MoonGardCRM - Logiciel de gestion d'entreprise</title>

    </h:head>
    <h:body class="home-page" style="zoom: 1;">
        <div class="home-block">
            <p class="center logo"><img src="./images/logo_ewebgestion_home.png" alt=""/></p>
            <p><br></br></p>
            <h:form>
                <table class="centre table-arondi home-connect ombrage">
                    <tbody><tr>
                            <td colspan="2">
                                <h:outputLabel value="Login : " />
                                <p:inputText />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h:outputLabel value="Mot de passe :"/>
                                <p:password />
                            </td>
                        </tr>
                        <tr class="actions">
                            <td style="font-size:11px;">
                                <!--<input type="checkbox" name="save" id="save" value="1"> <label for="save" style="margin-left:5px;">Enregistrer l'email</label>-->
                                <p style="height:5px;"></p>
                                <h:link outcome="index.xhtml"  value="Mot de passe oublié ?" />
                                <p style="height:5px;"></p>
                                <h:link outcome="index.xhtml" value="Pas encore inscrit ?" />
                            </td>
                            <td class="right" style="vertical-align:top;">
                                <p:commandButton value="Se connecter" />
                            </td>
                        </tr>
                    </tbody></table>
            </h:form>

        </div>
        <div id="footer" style="width: 1108px;">
            <div id="footer-content">	
                <a href="#" target="_blank" class="original">Site internet</a> - 	<a href="#" target="_blank" class="original">Mentions légales</a> - 	<a href="#" target="_blank" class="original">CGV</a>	 - Copyright © MoonGard Concept 2013	 - Version 1.0.0</div></div>        
    </h:body>
</html>